<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hundends Gårdbutik Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
<!-- Sidebar -->
<div class="sidebar">
    <h2 class="text-center">Hundends Gårdbutik Kontrolpanel</h2>
    <a href="/dashboard">Hjem</a>
    <a href="/createItem">Opret varer</a>
    <a href="/inventory">Se varer</a>
</div>
<div class="content">
    <h1>Velkommen til dit Dashboard</h1>
    <a href="/logout" class="logout-btn">Log ud</a>
</div>


</body>
</html>
